nimcache/
screenshots/

*.trace
*.ndb
*.log
flycheck*

#binaries
fancygl
examples/sandbox
examples/neuralnetwork_arne
examples/deferred_shading
examples/neuralnetwork
examples/mesh_loading_tiny
examples/waves
examples/openmesh
examples/particles
examples/particles_transform_feedback
examples/cpu_noise
examples/noise_landscape
