nimcache/

*.trace
*.ndb
*.log

flycheck*

#stuff from the lab
.nfs*

#binaries
.vscode
scratch
/resolveAlias
/prototype_iteration2
/experiment/deadcode
/experiment/main
/experiment/uniformBufferTest
/experiment/std140AlignedWrite
/experiment/renderMacro
/experiment/teapot
/experiment/main_shapes
/experiment/nvcompatlog.txt
/experiment/fern
*.png
/experiment/baseExample
/experiment/hello_triangle
/experiment/noiseSphere
/fancygl/boring_stuff
