nimcache/

*.trace
*.ndb
*.log

flycheck*

#stuff from the lab
.nfs*

#binaries
fancygl
.vscode
scratch
/resolveAlias
/prototype_iteration2
/experiment/deadcode
/experiment/main
/experiment/boring_stuff
/experiment/uniformBufferTest
/experiment/std140AlignedWrite
/experiment/renderMacro
/experiment/teapot
